ci:
  autofix_commit_msg: "[pre-commit.ci] auto fixes from pre-commit.com hooks [dependabot skip]"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
        args: [--unsafe]
      - id: trailing-whitespace
      - id: check-toml
      - id: check-merge-conflict
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        args: [--line-length=80]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [--max-line-length=80, --color=auto]
        additional_dependencies:
          [
            flake8-pydocstyle,
            flake8-pyproject,
            flake8-pytest-style,
            flake8-type-checking,
            flake8-use-pathlib,
          ]
        # files: ^my_appname/|^test_suite_name/
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--profile=black, --line-length=80]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.13.4
    hooks:
      - id: pymarkdown
        exclude: ^.github/|CHANGELOG.md|template/.github/
        # args: [-d, "MD014", scan]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ["--silent", "-c", "pyproject.toml", "-r"]
        additional_dependencies: ["bandit[toml]"]
  - repo: https://github.com/guilatrova/tryceratops
    rev: v2.3.2
    hooks:
      - id: tryceratops
  - repo: https://github.com/python-poetry/poetry
    rev: "1.6.1"
    hooks:
      - id: poetry-check
      # - id: poetry-lock
      - id: poetry-export
        args:
          [
            "--without-hashes",
            "-f",
            "requirements.txt",
            "-o",
            "requirements.txt",
            "--with",
            "dev",
          ]
